@import 'tailwindcss';

@config '../tailwind.config.js';

@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility skeleton {
  @apply animate-pulse bg-slate-600 rounded-md;
}

/* SCROLLBAR */
/* Firefox */
* {
  scrollbar-width: thick;
  scrollbar-color: #202c47 transparent;
}

:root {
  --img-highlight-color: rgb(45, 212, 190);
}

/* Global Animations */

.animate-slide-right {
  animation: slide-right 0.2s ease-in-out;
}

@keyframes slide-right {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.animate-slide-left {
  animation: slide-left 0.2s ease-in-out;
}

@keyframes slide-left {
  from {
    translate: -150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

/* WebKit */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #202c47;
  border-radius: 8px;
}

/* Fonts */
.outfit-oxygen {
  font-family: "Oxygen";
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.oxygen-light {
  font-family: "Oxygen";
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen";
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.emoji {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
}

@source inline("bg-red-{50,{100..900..100},950}");
@source inline("bg-red-{50,{100..900..100},950}/{5,{10..90..5},100}");
@source inline("border-red-{50,{100..900..100},950}");
@source inline("bg-yellow-{50,{100..900..100},950}");
@source inline("bg-yellow-{50,{100..900..100},950}/{5,{10..90..5},100}");
@source inline("border-yellow-{50,{100..900..100},950}");
@source inline("bg-emerald-{50,{100..900..100},950}");
@source inline("bg-emerald-{50,{100..900..100},950}/{5,{10..90..5},100}");
@source inline("border-emerald-{50,{100..900..100},950}");
@source inline("bg-blue-{50,{100..900..100},950}");
@source inline("bg-blue-{50,{100..900..100},950}/{5,{10..90..5},100}");
@source inline("border-blue-{50,{100..900..100},950}");
@source inline("bg-purple-{50,{100..900..100},950}");
@source inline("bg-purple-{50,{100..900..100},950}/{5,{10..90..5},100}");
@source inline("border-purple-{50,{100..900..100},950}");
@source inline("bg-pink-{50,{100..900..100},950}");
@source inline("bg-pink-{50,{100..900..100},950}/{5,{10..90..5},100}");
@source inline("border-pink-{50,{100..900..100},950}");
@source inline("bg-gray-{50,{100..900..100},950}");
@source inline("bg-gray-{50,{100..900..100},950}/{5,{10..90..5},100}");
@source inline("border-gray-{50,{100..900..100},950}");