@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

/* SCROLLBAR */
/* Firefox */
* {
  scrollbar-width: thick;
  scrollbar-color: #202c47 transparent;
}

.animate-slide {
  animation: slide 0.2s ease-in-out;
}

@keyframes slide {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

/* WebKit */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #202c47;
  border-radius: 8px;
}


.outfit-oxygen {
  font-family: "Oxygen";
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.oxygen-light {
  font-family: "Oxygen";
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen";
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.emoji {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
}